:root {
  --primary-font-family: "Roboto", sans-serif;
}

body {
  background-color: #1b1b1b;
}

.first-container {
  background-color: #212121;
}

.seccond-container-heading-information {
  text-align: center;
  color: white;
  padding: 10em 0;
}

h1,
h2,
h3 {
  font-family: var(--primary-font-family);
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.1em;
}

.seccond-container-heading-information h2 {
  font-size: 18px;
  font-weight: 400;
  max-width: 25em;
  line-height: 30px;
  margin: 1em auto;
}
.seccond-container-heading-information p {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.seccond-container-heading-information a,
.about-content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #272142;
  border-radius: 50px;
  padding: 18px 40px;
  margin-top: 1em;
  line-height: 17px;
}

.row-photo-gallery {
  max-width: 1152px;
}

.about-content p {
  color: white;
}

.about-content h2 {
  color: #f65282;
  font-size: 18px;
  letter-spacing: 0.1em;
}
.about-content h1 {
  font-size: 64px;
}
.about-content p {
  font-family: var(--primary-font-family);
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
i {
  color: white;
}
.camera-details {
  background-color: #2d2727;
}
.camera-details span {
  color: white;
  font-family: var(--primary-font-family);
  font-weight: 700;
}
.contact-ways {
  color: #f65282;
  font-size: 14px;
  opacity: 90%;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 16px;
  margin-top: 2.5em;
}
.seccond-container-heading-information span {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 18px;
  padding-left: 0.5em;
}

@media (max-width: 768px) {
  .seccond-container-heading-information {
    padding: 5em 0;
  }
  .seccond-container-heading-information p {
    font-size: 14px;
  }
  h1 {
    font-size: 35px;
  }
  .seccond-container-heading-information h2 {
    font-size: 12px;
    font-weight: 300;
  }
  .seccond-container-heading-information a {
    padding: 14px 25px;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 14px;
  }
  .row-photo-gallery img {
    margin-top: 1.5em;
  }
  .photo-portfolio-gallery {
    padding-top: 0 !important;
  }
  .girl-face {
    margin-top: 1em;
  }

  .about-content {
    text-align: center;
  }
  .about-content h1 {
    font-size: 40px;
  }
  .about-content a {
    padding: 13px 26px;
    font-size: 14px;
  }
  .camera,
  .camera-details {
    display: none !important;
  }
  .gallery-header {
    margin-top: 1em;
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .about-content h2 {
    margin-top: 2em !important;
  }
  .about-content h1 {
    font-size: 26px;
  }
  .about-content p {
    font-size: 14px;
  }
  .about-content a {
    margin-top: 0 !important;
    font-size: 12px;
  }
  .social-media-logo-wrapper {
    margin-top: 2em !important;
  }
  .camera,
  .camera-details {
    display: none !important;
  }
  .gallery-header {
    margin-top: 1em;
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .about-content {
    margin-top: 1.5em;
  }
  .about-content h1 {
    font-size: 55px;
  }
  .about-content p {
    font-size: 18px;
  }
  .gallery-header {
    margin-top: 0.75em;
    font-size: 50px;
  }
}

@media (min-width: 1400px) {
  .row-photo-gallery {
    margin-left: 4em;
  }
  .about-content {
    margin-top: 2.5em;
  }
  .about-content h1 {
    font-size: 64px;
  }
  .camera,
  .camera-details {
    display: block !important;
  }
  .about-content a {
    font-size: 14px;
  }
  .gallery-header {
    margin-top: 1em;
  }
}
