:root {
  --primary-font-family: "Roboto", sans-serif;
}

body {
  background-color: #1b1b1b;
}

.first-container {
  background-color: #212121;
}

.seccond-container-heading-information {
  text-align: center;
  color: white;
  padding: 10em 0;
}

h1,
h2,
h3 {
  font-family: var(--primary-font-family);
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.1em;
}

.seccond-container-heading-information h2 {
  font-size: 18px;
  font-weight: 400;
  max-width: 25em;
  line-height: 30px;
  margin: 1em auto;
}
.seccond-container-heading-information p {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.seccond-container-heading-information a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: white;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #272142;
  border-radius: 50px;
  padding: 18px 40px;
  margin-top: 1em;
  line-height: 17px;
}

.row-photo-gallery {
  max-width: 1152px;
}

@media (max-width: 700px) {
  .seccond-container-heading-information p {
    font-size: 14px;
  }
  h1 {
    font-size: 35px;
  }
  .seccond-container-heading-information h2 {
    font-size: 12px;
    font-weight: 300;
  }
  .seccond-container-heading-information a {
    padding: 14px 25px;
    letter-spacing: 0;
    font-weight: 500;
  }
}

@media (min-width: 1400px) {
  .row-photo-gallery {
    margin-left: 4em;
  }
}
